<!DOCTYPE html>
<html>
  <head>
    <title>Run your command</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/index.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/javascripts/index.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Run your command</a>
        </div>
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="">
        <h1>Run your command</h1>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
            <p>Description to users.</p>
            <p>Following characters are not allowed by security issue.
            <pre>'" /\:;|`()$*?{}[]&amp;&lt;&gt;</pre></p>
          <div class="alert alert-danger input-warning">
            <p>Warning messages here</p>
          </div>
          <div class="input-group">
            <span class="input-group-addon">NAME</span>
            <input id="name" type="text" class="form-control" placeholder="some value">
          </div>
          <p><button id="start" type="button" class="btn btn-lg btn-primary start"><span class="glyphicon glyphicon-send"></span> Start</button></p>
          <div class="alert alert-info" id="running-now">
            <p>Running now... Please a couple minutes</p>
          </div>
          <div class="alert alert-success">
            <p>Success! or... it looks like success. You may be able to check output or a few err.</p>
          </div>
        </div>
        <div class="col-md-12">
          <h2>Stdout or Return code</h2>
          <pre id="stdout" />
        </div>
        <div class="col-md-12">
          <h2>Stderr</h2>
          <pre id="stderr" />
        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
