out_pad = 20px

body
  padding-top out_pad
  padding-bottom out_pad

.navbar
  margin-bottom out_pad

div#running-now, div.input-warning, div.alert-success
  display none

button.start
  margin-top 10px
